body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif
}

.footer {
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 72px;
    color: white;
    gap: 8px;
}

.header {
    background-color: #1F2937;
    display: flex;
    color: white;
    height: 400px;
    justify-content: space-between;
    padding-left: 160px;
    padding-right: 160px;
    padding-top: 16px;
}

.left-side {
    display: flex;
    flex-direction: column;
}

.right-side {
    display: flex;
    flex-direction: column;
}

.header-links {
    display: flex;
    gap: 24px;
    list-style-type: none;
    margin: 0;
}

.logo {
    font-size: 24px;
    font-weight: 600;
}

.sub-content {
    margin-top: 40px;
}

.sub-content-title {
    font-size: 48px;
    font-weight: bolder;
}

.sign-up {
    background-color: #3882F6;
    color: white;
    border-radius: 10px;
    text-decoration: none;
    border-style: none;
    font-size: 12px;
    padding: 8px 24px;
    text-align: center;
    font-weight: bolder;
}
